*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}


/*.body{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: whitesmoke;*/
/*    margin: 0;*/
/*}*/

.header-class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    margin: 0;
    gap: 25px;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background: white
}
.header-class-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 129px;
    height: 15px;
    margin-left: 12.5px;
}
.header-class-menu-title{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);




}
.header-class-name{
    width: 200px;
    height: 17px;
    margin: auto;

}
.header-class-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 16px;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 47.5px;
    letter-spacing: 1.4px;


}
.main-class{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin:0 auto 100px auto;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    margin: 0 ;
    background: url("./img/main1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.container1-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 118px;*/
    padding: 0;
    overflow: hidden;
}
.container1-title1 {
    margin: auto 0;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
    text-align: center;
    color: white;

}
.container1-title2{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: white;
}
.container1-title3{
    margin: auto 0;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: white;
}

.container2{
    width: 100%;
    /*height: 153px;*/
    overflow: hidden;
    margin: 80px auto ;
}
.container2-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*width: 580px;*/
    /*height: 153px;*/
    margin: auto ;
}
.container2-title1{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
}
.container2-title2{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(160, 160, 160, 1);
}
.container2-title3{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
}
.container3{
    width: 100%;
    /*height: 570.53px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    /*width: 682.5px;*/
    /*height: 570.53125px;*/
}
.container3-main-img{
    margin: 0;
    /*width: 657.5px;*/
    /*height: 440.53125px;*/

}
.container3-main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 658px;*/
    /*height: 79px;*/
    margin: 0 auto;
}
.container3-main-text1{
    /*height: 30px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
}
.container3-main-text2{
    /*height: 15px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: auto;
}
.container4{
    width: 100%;
    /*height: 643.33px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 120px auto ;
}
.container4-title{
    width: 100%;
    /*height: 69.59px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.container4-title1 {
    /*width: 276px;*/
    /*height: 36px;*/
    margin: 0 auto ;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.container4-title2{
    width: 230px;
    height: 18px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    color: rgba(160, 160, 160, 1);
}
.container4-point{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21px;
    margin: 40px auto 15px auto ;
    gap: 16px;
}
.container4-point1{
    width: 7px;
    height: 7px;
    background: rgba(0, 0, 0, 1);
}
.container4-main{
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 100%;
    /*height: 493.73px;*/
    gap: 25px;
    margin: 0 auto ;
}
.container4-main1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*width: 310.25px;*/
    /*height: 493.73px;*/
}
.container4-main-img{
    width: 100%;
    /*height: 434.34px;*/
}
.container4-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 42px;
}
.container4-main-text1{
    display: flex;
    /*width: 147px;*/
    /*height: 21px;*/
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    font-family: Roboto sans-serif;
    color: rgba(160, 160, 160, 1);
    margin: 0 auto 0 0 ;
}
.container4-main-text2 {
    width: 31px;
    height: 21px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    font-family: Roboto sans-serif;
    color: rgba(160, 160, 160, 1);
    margin: 0 auto 0 0;
}
.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 504px;
    margin: 0 auto 20px auto ;
    background: url("./img/section3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.container5-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 142px;*/
    padding: 0;
}
.container5-title1 {
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 66px;
    line-height: 70px;
    color: white;
    text-align: justify;
    /*width: 699px;*/
    margin: -6.86px 0 0 0 ;
}
.container5-title2{
    /*width: 699px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    color: white;
    margin-top: 14px;
}
.container5-title3{
    margin: 30px auto 0 auto;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: white;

}
.container6{
    width: 100%;
    /*height: 886.42px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto ;
    flex-direction: column;
}
.container6-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: 126px;*/
    margin: 40px auto ;
}
.container6-title1{
    /*width: 307px;*/
    /*height: 36px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: -3.86px;
}
.container6-title2{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(160, 160, 160, 1);
    text-align: center;
    /*width: 777px;*/
    /*height: 72px;*/
    margin: 0 auto;
    letter-spacing: 0.8px;
}
.container6-img1{
    width: 73%;
    /*height: 592px;*/
    margin: 40px auto ;
}
.container6-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: 102px;*/
    margin: 40px auto ;
}
.container6-text1{
    width: 351px;
    height: 36px;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0 auto ;
}
.container6-text2{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(160, 160, 160, 1);
    text-align: center;
    /*width: 789px;*/
    /*height: 48px;*/
    margin: 0 auto;
    letter-spacing: 0.8px;
}
.container7{
    width: 100%;
    /*height: 1350.72px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto ;
}
.container7-img{
    display: grid;
    grid-template-columns: repeat(6, 202.5px);
    grid-template-rows: repeat(4, 271.34px);
    gap: 15px;
}
.container7-img1{
    /*width: 202.5px;*/
    /*height: 271.34px;*/
    object-fit: cover;
}
.container7-title{
    width: 100%;
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto ;
}
.container7-title1{
    /*width: 351px;*/
    /*height: 36px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    margin: 96px auto 0 auto;
    color: rgba(0, 0, 0, 1);
}
.container7-title2{
    /*width: 233px;*/
    /*height: 21px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    margin: 44px auto ;
}
.section{
    max-width: 1440px;
    width: 100%;
    height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(154, 168, 177, 1);
    margin: 80px auto ;
}
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 163.8px;
}
.section-img{
    width: 40px;
    height: 34px;
    margin:0 auto;
}
.section-title1{
    width: 297px;
    height: 58px;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    color: white;
    text-align: center;
    margin: auto ;
}
.section-title2{
    /*width: 481px;*/
    /*height: 24px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin: 0 auto ;
}
.footer{
    max-width: 1440px;
    width: 100%;
    /*height: 468px;*/
    margin: 40px auto 0 auto ;
    background: rgba(249, 249, 249, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footer-container{
    display: flex;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    /*height: 345px;*/
    margin: 0 ;
}
.footer-container-menu{
    display: flex;
    justify-content: space-between;
    /*width: 682.5px;*/
    /*height: 345px;*/
}
.footer-container1{
    display: flex;
    flex-direction: column;
    text-align: left;
    /*width: 170px;*/
    /*height: 265px;*/
    margin: 80px 0 0 0 ;
    gap: 16px;
}
.footer-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    /*width: 500px;*/
    /*height: 199px;*/
    margin: 80px 0 0 12.5px;
}
.footer-container3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: black;
    width: 5.7%;
    height: 33%;
    gap: 0;
}
.footer-container1-title{
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: black;
    margin: auto 0;
}
.footer-container2-title1{
    /*width: 184px;*/
    /*height: 24px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin: -3.55px 0 0 0;

}
.footer-container2-title2{
    display: flex;
    align-items: center;
    /*width: 348px;*/
    /*height: 64px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(160, 160, 160, 1);
    margin: 23px 0 auto 0;
}
.footer-container2-line{
    /*width: 320px;*/
    /*height: 1px;*/
    background: black;
}
.footer-container3-title{
    margin: auto;
    color: white;
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.8px;
}
.footer-title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 23px;
    margin: 0 auto 19.55px auto ;
}
.footer-title1{
    /*width: 125px;*/
    /*height: 15px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(112, 122, 127, 1);
    letter-spacing: 0.8px;
    margin-right: 37px;
}
.footer-title2{
    /*width: 131px;*/
    /*height: 15px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(112, 122, 127, 1);
    letter-spacing: 0.8px;
    margin-right: 37px;
}
.footer-title3{
    /*width: 93px;*/
    /*height: 15px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(112, 122, 127, 1);
    letter-spacing: 0.8px;
    margin-right: 37px;
}
.footer-title4{
    /*width: 126px;*/
    /*height: 15px;*/
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: black;
    letter-spacing: 0.8px;
}


@media (max-width:1220px){
    .container3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }

}

@media (max-width: 1330px) {
    .container7-img {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1150px) {
    .container7-img {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 870px) {
    .container7-img {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 650px) {
    .container7-img {
        grid-template-columns: repeat(2, 1fr);
    }
}


